<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FPL Classic League</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-color: #f5f5f5;
            color: #36003b;
        }

        .jumbotron {
            background-color: #343a40;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .table {
            background-color: #fff;
            border-radius: 10px;
            /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
        }

        .thead-dark th {
            background-color: #007bff;
            color: #fff;
        }
        .jumbotron, .table .thead-dark th, .card-header{
            color: #fff;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">FPL NEPAL WEB APP<p>Live updates about FPL NEPAL League, FPL Players, FPL TOOLS, Squad Optimization and much more..</p></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/players">Players</a></li>
                <li class="nav-item"><a class="nav-link" href="/league">H2h League</a></li>
                <li class="nav-item"><a class="nav-link" href="/league">Classic League</a></li>
                <li class="nav-item"><a class="nav-link" href="/compare">Compare</a></li>
                <li class="nav-item"><a class="nav-link" href="/whatif">What If</a></li>
                <li class="nav-item"><a class="nav-link" href="/squad">Squad</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12">
                <!-- Tabs for switching between leagues -->
                <ul class="nav nav-tabs" id="leagueTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="classic-tab" data-toggle="tab" href="#classic" role="tab" aria-controls="classic" aria-selected="true">Classic League</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ultimate-tab" data-toggle="tab" href="#ultimate" role="tab" aria-controls="ultimate" aria-selected="false">Ultimate League</a>
                    </li>
                </ul>
                <div class="tab-content" id="leagueTabsContent">
                    <div class="tab-pane fade show active" id="classic" role="tabpanel" aria-labelledby="classic-tab">
                        <!-- Classic League Table -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Classic League Standings
                            </div>
                            <div class="card-body">
                                <div id="classic-league-table" class="table-responsive"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ultimate" role="tabpanel" aria-labelledby="ultimate-tab">
                        <!-- Ultimate League Table -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Ultimate League Standings
                            </div>
                            <div class="card-body">
                                <div id="ultimate-league-table" class="table-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        $(document).ready(function() {
            loadClassicLeagueFullTable();
            loadUltimateLeagueFullTable();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $.fn.dataTable.tables({visible: true, api: true}).columns.adjust();
            });
        });

        function loadClassicLeagueFullTable() {
            $.get('/api/classic-standings-full', function(data) {
                let tableHtml = '<table class="table table-striped table-bordered"><thead class="thead-dark"><tr><th>Rank</th><th>Name</th><th>Score</th></tr></thead><tbody>';
                data.forEach(function(entry) {
                    tableHtml += `<tr><td>${entry.rank}</td><td>${entry.entry_name}<br><span class="player-name">${entry.player_name}</span></td><td>${entry.total}</td></tr>`;
                });
                tableHtml += '</tbody></table>';
                $('#classic-league-table').html(tableHtml);
            });
        }

        function loadUltimateLeagueFullTable() {
            $.get('/api/ultimate-standings-full', function(data) {
                let tableHtml = '<table class="table table-striped table-bordered"><thead class="thead-dark"><tr><th>Rank</th><th>Name</th><th>Score</th></tr></thead><tbody>';
                data.forEach(function(entry) {
                    tableHtml += `<tr><td>${entry.rank}</td><td>${entry.entry_name}<br><span class="player-name">${entry.player_name}</span></td><td>${entry.total}</td></tr>`;
                });
                tableHtml += '</tbody></table>';
                $('#ultimate-league-table').html(tableHtml);
            });
        }
    </script>
</body>
</html>
